body{
	background-color: #87dfd6;
}
#container{
	text-align: center;
	position: relative;
	top: 40vh;
	font-family: cursive;
}
ul{
	border-style: solid;
	border-radius: 50px;
	width: 35%;
	position: relative;
	left: 30vw;
	background-color: #fbfd8a;

}
li{
	display: inline;
	padding-right: 20px;
	font-size: 3em;
}
