body{
	background-color: #87dfd6;
}
header{
	position: relative;
	top: 10vh;
	font-size: 2.5em;
	left: 33vw;
	color: #649d66;
	font-family:fantasy;
}
#container{
	text-align: center;
	position: relative;
	top: 33vh;
	font-family: cursive;
}
#modes{
	position: relative;
	left: 35vw;
	top: -10vh;
}
#modes button{
	background-color: #fff;
	font-size: 1.5em;
	border-radius: 10px;
	outline: none;
	height: 1.5em;
}
ul{
	border-style: solid;
	border-radius: 50px;
	width: 35%;
	position: relative;
	left: 30vw;
	background-color: #fbfd8a;

}
li{
	display: inline;
	padding-right: 20px;
	font-size: 3em;
}
#section{
	display: none;
}
@media (max-width: 1050px){
	header{
		font-size: 1em;
	}
	#modes button{
		font-size: 0.8em;
	}
	ul{
		width: 60%;
	}
	li{
		font-size: 0.8em;
	}
}
