body{
	background-color: #ddf3f5;
}
.inline{
	display: inline;
}
#sidebar{
	width: 40%;
	display: none;
	transition: display 3s;
}
#sidebar button{
	background-color: #ddf3f5;
	border-style: none;
	outline: none;
}
#toggler{
	position: relative;
	left: 90vw;
	transform: scale(1.5,1.5);
	background-color: #ddf3f5;
	border-style: none;
	outline: none;
}
