body{
	background-color: #cbeaed;
}
#content{
	margin-top: 5em;
}
#left{
	float: left;
	position: relative;
	left: 20em;
}
#left img{
	width: 280px;
	height: 180px;

}
#right{
	float: right;
	position: relative;
	left: -17em;
}
#right h1{
	position: relative;
	left: 1.2em;
}
#right ul{
	list-style: none;
	margin-top: 20px;
}
.list-item{
	display: inline;
	background-color: #555;
	color: #ffffdd;
	font-size: 2em;
	padding: 5px;
	margin-right: 1.5em;
}
.list-time{
	display: inline;
	color: #1b262c;
	margin-right: 1.5em;
	position: relative;
	top: 10px;
	left: -5px;
	font-size: 1.5em;
	font-weight: lighter;
}
#min{
	position: relative;
	left: -0.7em;
}
#sec{
	position: relative;
	left: -1.6em;
}